{% extends "layout.html" %}

{% block title %}Policía de Río Negro - Página no encontrada{% endblock %}

{% block content %}

<div class="wrapper-pantalla-central">
    <div class="bloque-tramite-limpio bloque-respuesta-centrado">

        <div class="card-formulario-central texto-centrado">

            <div class="contenedor-icono-exito">
                <svg class="icono-svg-confirmado icono-svg-error"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="12" y1="8" x2="12" y2="12"></line>
                    <line x1="12" y1="16" x2="12.01" y2="16"></line>
                </svg>
            </div>

            <header class="encabezado-formulario-unico">
                <h2>Error 404 - Página no encontrada</h2>
                <p>
                    Lo sentimos, la dirección web a la que intenta acceder no existe o ha sido movida temporalmente.
                </p>
            </header>

            <div class="contenedor-boton-envio">
                <a href="/" class="btn-modern-submit">← Volver al Formulario de Turnos</a>
            </div>

        </div>

    </div>
</div>

{% endblock %}
